@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  caret-color: #090B0A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
}

.main {
  background: #090B0A;
  width: 100vw;
  overflow-x: hidden;
  right: 0;
  z-index: 10;
  position: relative;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.main .hero-info {
  position: fixed;
  top: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .hero-info--active {
  position: absolute;
  top: -10vh;
}

.main .hero-info__logo {
  width: 50px;
  height: 50px;
}

.main--active-menu {
  right: -250px;
}

.main--edit-active .headline {
  opacity: 0.8;
}

.heading-container .headline {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

@media screen and (min-width: 900px) {
  .heading-container .headline {
    font-size: 50px;
  }
}

.heading-container--floating {
  margin: 0 25px;
}

.heading-container--floating .headline--2 {
  color: #ffffff;
}

.headline {
  color: #ffffff;
}

.paragraph {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
  line-height: 1.5;
  max-width: 900px;
}

.paragraph strong {
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  padding: 0 5px;
}

.list__element {
  color: #ffffff;
}

footer .paragraph {
  text-align: center;
}

canvas {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.details {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  background-color: #081110;
}

h1 {
  color: #fff;
}

h1 h1 {
  font-size: 2rem;
}

.navigation {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  padding: 0;
  height: 100%;
  width: 200px;
}

.navigation__item {
  margin: 25px 0;
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  color: #000000;
}

.button {
  position: fixed;
  top: 0;
  z-index: 15;
  background-color: black;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button:hover {
  cursor: pointer;
}

.button--edit {
  position: fixed;
  right: 0;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.button--edit-acitve {
  opacity: 0.5;
}

.button--menutoggle {
  right: 90px;
}

.acc-container {
  width: 100%;
}

.acc__trigger {
  color: #ffffff;
  width: 100%;
}

.acc__trigger:hover {
  color: rgba(255, 255, 255, 0.815);
  cursor: pointer;
}

.acc__trigger--open + .acc__content {
  height: 100%;
}

.acc__content {
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.815);
  overflow: hidden;
}

.main {
  font-family: "Raleway", sans-serif;
}

.section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.section--hero {
  height: auto;
}

.section--fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.section-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.815);
  padding: 75px 25px;
  width: 100%;
  max-width: 900px;
}

@media screen and (min-width: 900px) {
  .section-info__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    flex-direction-align-items: center;
  }
}

.section-info__item:last-of-type {
  border-bottom: none;
}

.section-info__item .headline {
  font-size: 50px;
  min-width: 250px;
  font-weight: 400;
}

.section-info__item .paragraph {
  text-transform: uppercase;
}

.section-about {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1500px;
  position: relative;
}

@media screen and (min-width: 900px) {
  .section-about {
    width: 4500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-about__headline {
  position: absolute;
  left: 300vw;
  top: 5px;
  font-size: 80px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 900px) {
  .section-about__headline {
    top: 10vh;
    font-size: 200px;
    left: 100vw;
  }
}

.section-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section-about__logo {
  width: 100%;
  height: 25%;
  opacity: 0.9;
  background-color: #ffffff;
  border-radius: 25px 25px 0 0;
}

@media screen and (min-width: 900px) {
  .section-about__logo {
    margin-bottom: 25px;
  }
}

.section-about__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-about__innercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 25px;
}

.section-about__box {
  width: 300px;
  height: 500px;
  margin: 50px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 25px 20px 81px -18px black;
          box-shadow: 25px 20px 81px -18px black;
}

.section-about__box + .section-about__box::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  left: -100px;
  border-radius: 50px;
  background-color: #ffffff;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.section-about__box + .section-about__box:last-child::after {
  content: '';
  position: absolute;
  width: 0;
  height: 5px;
  right: -100px;
  border-radius: 50px;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), to(rgba(44, 47, 56, 0)));
  background: linear-gradient(90deg, white 50%, rgba(44, 47, 56, 0) 100%);
  top: 50%;
}

@media screen and (min-width: 900px) {
  .section-about__box + .section-about__box:last-child::after {
    width: 100px;
  }
}

@media screen and (min-width: 900px) {
  .section-about__box {
    width: 500px;
    height: 500px;
  }
}

.section-about__box .paragraph {
  color: #000000;
  border-bottom: 2px solid rgba(19, 43, 40, 0.1);
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.1;
  padding: 5px 0;
  font-size: 14px;
}

.section-about__box .paragraph:last-of-type {
  border-bottom: none;
}

.section-about__box .paragraph b {
  background: #000000;
  color: #ffffff;
  padding: 0 5px;
}

.section-about__box .headline {
  text-transform: uppercase;
  margin: 10px 0 5px;
  color: #000000;
}

.section-about__box .headline--3 {
  font-weight: 700;
}

.section-work {
  background: #090B0A;
  padding-top: 50px;
  height: 100%;
}

.section-work__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
  max-width: 900px;
  margin-bottom: 20vh;
}

.section-work__tech .headline {
  background-color: #ffffff;
  color: #000000;
  padding: 5px 10px;
  margin: 5px;
}

.section-work__projects {
  margin: 10vh 10vw;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-work__projects a {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.section-work__projects a:hover {
  color: rgba(255, 255, 255, 0.815);
  border-bottom: 2px solid rgba(255, 255, 255, 0.815);
}

.section-work__projects .headline {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}

@media screen and (min-width: 900px) {
  .section-work__projects .headline {
    font-size: 30px;
  }
}

.section-work__projects .project-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  width: 100%;
  max-width: 900px;
}

@media screen and (min-width: 900px) {
  .section-work__projects .project-container {
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
  }
}

.section-work__projects .project-container__project {
  padding: 5px 0 25px;
  margin: 20px 10px;
  font-size: 17px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.815);
}

.section-work__projects .project-container__headline {
  font-weight: 700;
  text-transform: uppercase;
}

.section-contact {
  background: #090B0A;
}

.section-contact .heading-container {
  margin-bottom: 50px;
}

.section-contact .headline {
  text-align: center;
  padding: 0 25px;
}

.section-contact .contact-button {
  position: relative;
  width: 200px;
  height: 100px;
  -webkit-transition: .13s ease-in-out;
  transition: .13s ease-in-out;
  cursor: pointer;
  border: 5px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-bottom: 50px;
}

.section-contact .contact-button::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.section-contact .contact-button:hover::after {
  width: 100%;
}

.section-contact .contact-button:hover .contact-button__text, .section-contact .contact-button:hover .fa {
  color: #000000;
}

@media screen and (min-width: 900px) {
  .section-contact .contact-button + .contact-button {
    margin-left: 30px;
  }
}

.section-contact .contact-button__text {
  color: #ffffff;
  font-size: 20px;
  z-index: 1;
}

.section-contact .contact-button .fa {
  color: #ffffff;
  margin-right: 15px;
  z-index: 1;
}

.section-contact .contact-button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

@media screen and (min-width: 900px) {
  .section-contact .contact-button__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */