@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  caret-color: #1D2027;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
}

.main {
  background: #1D2027;
  width: 100vw;
  overflow-x: hidden;
  right: 0;
  z-index: 10;
  position: absolute;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-box-shadow: 1px -100px 40px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
          box-shadow: 1px -100px 40px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.main--active-menu {
  right: -250px;
}

.main--edit-active .headline {
  opacity: 0.8;
}

.heading-container {
  padding: 25px 20px;
  background-color: #2C2F38;
  -webkit-box-shadow: 25px 20px 81px -18px rgba(0, 0, 0, 0.75);
          box-shadow: 25px 20px 81px -18px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

@media screen and (min-width: 900px) {
  .heading-container {
    padding: 25px 50px;
  }
}

.heading-container .headline {
  font-size: 30px;
  color: #ffffff;
}

@media screen and (min-width: 900px) {
  .heading-container .headline {
    font-size: 50px;
  }
}

.heading-container--floating {
  background-color: #1D2027;
  -webkit-box-shadow: 25px 20px 81px -18px black;
          box-shadow: 25px 20px 81px -18px black;
  margin: 0 25px;
  border-radius: 25px;
}

.heading-container--floating .headline--2 {
  color: #ffffff;
}

.headline {
  color: #ffffff;
}

.list__element {
  color: #ffffff;
}

.navigation {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  padding: 0;
  height: 100%;
  width: 200px;
}

.navigation__item {
  margin: 25px 0;
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  color: #000000;
}

.button {
  position: fixed;
  top: 0;
  z-index: 15;
  background-color: black;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button:hover {
  cursor: pointer;
}

.button--edit {
  position: fixed;
  right: 0;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.button--edit-acitve {
  opacity: 0.5;
}

.button--menutoggle {
  right: 90px;
}

.acc-container {
  width: 100%;
}

.acc__trigger {
  color: #ffffff;
  width: 100%;
}

.acc__trigger:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.acc__trigger--open + .acc__content {
  height: 100%;
}

.acc__content {
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.main {
  font-family: "Raleway", sans-serif;
}

.spline {
  position: absolute;
  width: 50vw;
  height: 50vh;
}

@-webkit-keyframes scroll-desktop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  3% {
    -webkit-transform: translateY(calc(-120px));
            transform: translateY(calc(-120px));
  }
  25% {
    -webkit-transform: translateY(calc(-120px));
            transform: translateY(calc(-120px));
  }
  28% {
    -webkit-transform: translateY(calc(-120px * 2));
            transform: translateY(calc(-120px * 2));
  }
  50% {
    -webkit-transform: translateY(calc(-120px * 2));
            transform: translateY(calc(-120px * 2));
  }
  53% {
    -webkit-transform: translateY(calc(-120px * 3));
            transform: translateY(calc(-120px * 3));
  }
  75% {
    -webkit-transform: translateY(calc(-120px * 3));
            transform: translateY(calc(-120px * 3));
  }
  78% {
    -webkit-transform: translateY(calc(-120px * 4));
            transform: translateY(calc(-120px * 4));
  }
  100% {
    -webkit-transform: translateY(calc(-120px * 4));
            transform: translateY(calc(-120px * 4));
  }
}

@keyframes scroll-desktop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  3% {
    -webkit-transform: translateY(calc(-120px));
            transform: translateY(calc(-120px));
  }
  25% {
    -webkit-transform: translateY(calc(-120px));
            transform: translateY(calc(-120px));
  }
  28% {
    -webkit-transform: translateY(calc(-120px * 2));
            transform: translateY(calc(-120px * 2));
  }
  50% {
    -webkit-transform: translateY(calc(-120px * 2));
            transform: translateY(calc(-120px * 2));
  }
  53% {
    -webkit-transform: translateY(calc(-120px * 3));
            transform: translateY(calc(-120px * 3));
  }
  75% {
    -webkit-transform: translateY(calc(-120px * 3));
            transform: translateY(calc(-120px * 3));
  }
  78% {
    -webkit-transform: translateY(calc(-120px * 4));
            transform: translateY(calc(-120px * 4));
  }
  100% {
    -webkit-transform: translateY(calc(-120px * 4));
            transform: translateY(calc(-120px * 4));
  }
}

@-webkit-keyframes scroll-mobil {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  3% {
    -webkit-transform: translateY(calc(-90px));
            transform: translateY(calc(-90px));
  }
  25% {
    -webkit-transform: translateY(calc(-90px));
            transform: translateY(calc(-90px));
  }
  28% {
    -webkit-transform: translateY(calc(-90px * 2));
            transform: translateY(calc(-90px * 2));
  }
  50% {
    -webkit-transform: translateY(calc(-90px * 2));
            transform: translateY(calc(-90px * 2));
  }
  53% {
    -webkit-transform: translateY(calc(-90px * 3));
            transform: translateY(calc(-90px * 3));
  }
  75% {
    -webkit-transform: translateY(calc(-90px * 3));
            transform: translateY(calc(-90px * 3));
  }
  78% {
    -webkit-transform: translateY(calc(-90px * 4));
            transform: translateY(calc(-90px * 4));
  }
  100% {
    -webkit-transform: translateY(calc(-90px * 4));
            transform: translateY(calc(-90px * 4));
  }
}

@keyframes scroll-mobil {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  3% {
    -webkit-transform: translateY(calc(-90px));
            transform: translateY(calc(-90px));
  }
  25% {
    -webkit-transform: translateY(calc(-90px));
            transform: translateY(calc(-90px));
  }
  28% {
    -webkit-transform: translateY(calc(-90px * 2));
            transform: translateY(calc(-90px * 2));
  }
  50% {
    -webkit-transform: translateY(calc(-90px * 2));
            transform: translateY(calc(-90px * 2));
  }
  53% {
    -webkit-transform: translateY(calc(-90px * 3));
            transform: translateY(calc(-90px * 3));
  }
  75% {
    -webkit-transform: translateY(calc(-90px * 3));
            transform: translateY(calc(-90px * 3));
  }
  78% {
    -webkit-transform: translateY(calc(-90px * 4));
            transform: translateY(calc(-90px * 4));
  }
  100% {
    -webkit-transform: translateY(calc(-90px * 4));
            transform: translateY(calc(-90px * 4));
  }
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: white;
}

.section-hero .hero-container {
  overflow: hidden;
  height: 350px;
  position: relative;
  width: 100%;
  padding-left: 20vw;
  padding-top: 143px;
}

@media screen and (min-width: 900px) {
  .section-hero .hero-container {
    padding-top: 114px;
    height: 350px;
  }
}

.section-hero .hero-container::before, .section-hero .hero-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 40%;
  z-index: 5;
}

.section-hero .hero-container::before {
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d2027), to(rgba(29, 32, 39, 0)));
  background: linear-gradient(180deg, #1d2027 0%, rgba(29, 32, 39, 0) 100%);
}

.section-hero .hero-container::after {
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 32, 39, 0)), to(#1d2027));
  background: linear-gradient(180deg, rgba(29, 32, 39, 0) 0%, #1d2027 100%);
}

.section-hero .hero-container .headline {
  color: #ffffff;
  font-weight: 300;
  min-height: 90px;
}

.section-hero .hero-container p {
  color: #ffffff;
  top: 50%;
  text-transform: uppercase;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: absolute;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .section-hero .hero-container p {
    font-size: 70px;
  }
}

.section-hero .headline {
  -webkit-animation: scroll-mobil 15s linear infinite;
          animation: scroll-mobil 15s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@media screen and (min-width: 900px) {
  .section-hero .headline {
    -webkit-animation: scroll-desktop 15s linear infinite;
            animation: scroll-desktop 15s linear infinite;
  }
}

.section-hero .headline--2 {
  margin-left: 50px;
  padding: 20px 25px;
  letter-spacing: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  font-size: 20px;
}

@media screen and (min-width: 900px) {
  .section-hero .headline--2 {
    font-size: 70px;
    margin-left: 200px;
  }
}

.section-hero .headline--2 span {
  font-weight: 300;
}

.section--fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.section-about {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1500px;
  position: relative;
}

@media screen and (min-width: 900px) {
  .section-about {
    width: 4500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-about__headline {
  position: absolute;
  left: 100vw;
  top: 10vh;
  font-size: 10vw;
  text-align: center;
  color: #ffffff;
}

.section-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section-about__logo {
  width: 100%;
  height: 25%;
  opacity: 0.9;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 25px 25px 0 0;
  margin-bottom: 50px;
}

.section-about__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-about__box {
  width: 250px;
  height: 500px;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2C2F38;
  border-radius: 30px;
  -webkit-box-shadow: 25px 20px 81px -18px black;
          box-shadow: 25px 20px 81px -18px black;
}

.section-about__box + .section-about__box::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 5px;
  left: -75px;
  border-radius: 50px;
  background-color: #2C2F38;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media screen and (min-width: 900px) {
  .section-about__box {
    width: 500px;
    height: 500px;
  }
}

.section-about__box .headline {
  text-transform: uppercase;
  margin: 10px 0 5px;
  color: #ffffff;
}

.section-about__box .headline--3 {
  font-weight: 700;
}

.section-work {
  background: #2C2F38;
  -webkit-box-shadow: inset 24px 58px 40px -53px rgba(0, 0, 0, 0.84);
          box-shadow: inset 24px 58px 40px -53px rgba(0, 0, 0, 0.84);
  padding-top: 50px;
  height: 100%;
}

.section-work__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px;
}

.section-work__projects {
  margin: 10vh 10vw;
  background: #1D2027;
  max-width: 100vw;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75) inset;
          box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75) inset;
}

.section-work__projects .headline {
  padding: 10vh 10vw;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}

@media screen and (min-width: 900px) {
  .section-work__projects .headline {
    font-size: 30px;
  }
}

.section-contact {
  background: #2C2F38;
}

.section-contact .heading-container {
  margin-bottom: 50px;
}

.section-contact .contact-button {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  outline: none;
  background-color: #1d2027;
  border-radius: 40px;
  -webkit-box-shadow: 6px 10px 15px #1d2027;
          box-shadow: 6px 10px 15px #1d2027;
  -webkit-transition: .13s ease-in-out;
  transition: .13s ease-in-out;
  cursor: pointer;
}

.section-contact .contact-button + .contact-button {
  margin-left: 30px;
}

.section-contact .contact-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-contact .contact-button:active .contact-button__content {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-contact .contact-button:active .contact-button__content .contact-button__text, .section-contact .contact-button:active .contact-button__content .contact-button__icon {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.section-contact .contact-button__content {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-shadow: inset -4px -4px 0px #87878775, -4px -4px 0px #1d2027;
          box-shadow: inset -4px -4px 0px #87878775, -4px -4px 0px #1d2027;
  border-radius: 40px;
  -webkit-transition: .13s ease-in-out;
  transition: .13s ease-in-out;
  z-index: 1;
}

.section-contact .contact-button__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0px, -4px, 0px);
          transform: translate3d(0px, -4px, 0px);
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-flex-item-align: start;
      align-self: start;
  justify-self: end;
  width: 50px;
  height: 50px;
  -webkit-transition: .13s ease-in-out;
  transition: .13s ease-in-out;
}

.section-contact .contact-button__icon .fa:before {
  font-size: 25px;
  color: #ffffff;
}

.section-contact .contact-button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.section-contact .contact-button__text {
  position: relative;
  -webkit-transform: translate3d(0px, -4px, 0px);
          transform: translate3d(0px, -4px, 0px);
  margin: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: center;
  font-size: 32px;
  background-color: #fff;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: .13s ease-in-out;
  transition: .13s ease-in-out;
}
/*# sourceMappingURL=main.css.map */