    <h1 class="section-about__headline">WORK&nbsp;EXPERIENCE</h1>
    <div class="section-about__container">
       <div class="section-about__box section-about__box--hak">
         <div class="section-about__logo">
            <img src="./assets/img/logo/hak.png">
         </div>
          <h3>Student</h3>
          <h4>commercial high school</h4>
          <h5>2017</h5>
          <ul>
            <li>Languages: English/French</li>
            <li>Focus on econommics and IT</li>
          </ul>
       </div>
       <div class="section-about__box section-about__box--zivildienst">
         <div class="section-about__logo">
            <img src="./assets/img/logo/volkshilfe_noe.jpg">
         </div>
          <h3>civilian service</h3>
          <h4>Volkshilfe</h4>
          <h5>August 2017 – April 2018</h5>
          <ul>
            <li>peoples care</li>
            <li>telephone service</li>
            <li>Backoffice-Organization</li>
          </ul>
       </div>
       <div class="section-about__box section-about__box--laola1">
         <div class="section-about__logo">
            <img src="./assets/img/logo/laola1.png">
         </div>
          <h3>Web Content Mangager (internship)</h3>
          <h4>Laola1</h4>
          <h5>June 2018 – Oct 2018</h5>
          <ul>
            <li>create social media posts</li>
            <li>create thumbnails</li>
            <li>taking care of content posts</li>
          </ul>
       </div>
       <div class="section-about__box section-about__box--nexxar">
         <div class="section-about__logo">
            <img src="./assets/img/logo/nexxar.png">
         </div>
          <h3>Process Developer</h3>
          <h4>Nexxar</h4>
          <h5>Nov 2018 - March 2021</h5>
          <ul>
            <li>Taking care of Data</li>
            <li>process optimization</li>
            <li>train project managers in new processes</li>
            <li>statistics evaluation</li>
          </ul>
       </div>
       <div class="section-about__box section-about__box--codefactory">
         <div class="section-about__logo">
            <img src="./assets/img/logo/codefactory.png">
         </div>
          <h3>Fullstack Developer (Bootcamp)</h3>
          <h4>Codefactory</h4>
          <h5>June 2020 – Aug 2020</h5>
            <ul>
               <li>Frontend Course:</li>
               <li>Git</li>
               <li>HTML</li>
               <li>CSS</li>
               <li>JS</li>
               <li>Bootstrap</li>
               <li>TypeScript</li>
               <li>Angular</li>
            </ul>
            <ul>
               <li>Backend Course:</li>
               <li>SQL (MySQL)</li>
               <li>SCRUM & Requirements Engineering</li>
               <li>PHP</li>
               <li>AJAX</li>
               <li>SYMFONY</li>
            </ul>
       </div>
       <div class="section-about__box section-about__box--nexxar">
         <div class="section-about__logo">
            <img src="./assets/img/logo/nexxar.png">
         </div>
            <h3>Frontend Developer</h3>
            <h4>Nexxar</h4>
            <h5>March 2021 – Oct 2022</h5>
            <ul>
               <li>Tech Stack: HTML, CSS, Vanilla JS, FTL Freemarker </li>
               <li>close contact to Backend, Project Manger and Design team</li>
               <li>Developing interactive solutions, Screen Layouts from Figma</li>
            </ul>
       </div>
    </div>