   <div class="heading-container heading-container--floating">
      <h2>WANNA GET IN TOUCH?</h2>
   </div>
   <div>
      <h3>Let's make it simple, just use one of these</h3>
      <div class="contact-button__container">
         <a class="contact-button" href="https://www.linkedin.com/in/paul-albrecht-web-dev/" target="_blank">
            <div class="contact-button__content">
               <div class="contact-button__icon"><i class="fa fa-linkedin"></i></div>
               <p class="contact-button__text">Linkedin</p>
            </div>
         </a>
         <a class="contact-button" href="mailto:paul-albrecht@gmx.at">
            <div class="contact-button__content">
               <div class="contact-button__icon"><i class="fa fa-envelope"></i></div>
               <p class="contact-button__text">E-Mail</p>
            </div>
         </a>
      </div>
   </div>