   <div class="heading-container heading-container--floating">
      <h2>WANNA GET IN TOUCH?</h2>
   </div>
   <div>
      <h3>LET'S MAKE IT SIMPLE, JUST USE ONE OF THESE</h3>
      <div class="contact-button__container">
         <a class="contact-button" href="https://www.linkedin.com/in/paul-albrecht-web-dev/" target="_blank">
            <i class="fa fa-linkedin"></i><p class="contact-button__text">LINKEDIN</p>
         </a>
         <a class="contact-button" href="mailto:paul-albrecht@gmx.at">
            <i class="fa fa-envelope"></i><p class="contact-button__text">E-MAIL</p>
         </a>
      </div>
      <h3>AND TAKE MY CV FOR THE ROAD.</h3>
      <div class="contact-button__container">
         <a class="contact-button" href="./assets/cv-albrecht.pdf" download>
            <i class="fa fa-file"></i></i><p class="contact-button__text">CV</p>
         </a>
      </div>
   </div>