    <h2 class="section-about__headline">WORK&nbsp;EXPERIENCE</h2>
    <div class="section-about__container">
       <div class="section-about__box section-about__box--hak">
         <div class="section-about__logo">
            <img src="./assets/img/logo/hak.png">
         </div>
          <h3>Student</h3>
          <h4>commercial high school</h4>
          <h5>2017</h5>
          <div class="section-about__innercontainer">
            <p>Languages: English/French</p>
            <p>Focus on econommics and IT</p>
          </div>
       </div>
       <div class="section-about__box section-about__box--zivildienst">
         <div class="section-about__logo">
            <img src="./assets/img/logo/volkshilfe_noe.jpg">
         </div>
          <h3>civilian service</h3>
          <h4>Volkshilfe</h4>
          <h5>August 2017 – April 2018</h5>
          <div class="section-about__innercontainer">
            <p>peoples care</p>
            <p>telephone service</p>
            <p>Backoffice-Organization</p>
          </div>
       </div>
       <div class="section-about__box section-about__box--laola1">
         <div class="section-about__logo">
            <img src="./assets/img/logo/laola1.png">
         </div>
          <h3>Web Content Mangager (internship)</h3>
          <h4>Laola1</h4>
          <h5>June 2018 – Oct 2018</h5>
          <div class="section-about__innercontainer">
            <p>create social media posts</p>
            <p>create thumbnails</p>
            <p>taking care of content posts</p>
          </div>
       </div>
       <div class="section-about__box section-about__box--nexxar">
         <div class="section-about__logo">
            <img src="./assets/img/logo/nexxar.png">
         </div>
          <h3>Process Developer</h3>
          <h4>Nexxar</h4>
          <h5>Nov 2018 - March 2021</h5>
          <div class="section-about__innercontainer">
            <p>TAKING CARE OF INCOMING <b>DATA</b> (WITH REGEX)</p>
            <p>DEVELOP NEW PROCESSES AND <b>OPTIMIZE WORKFLOW</b></p>
            <p>CREATING <b>HTML TABLES</b> AND STYLING</p>
            <p><b>ENROLLING</b> NEW PROCESSES AND <b>TRAIN</b> PROJECT MANAGERS</p>
            <p>PROCESS DOCUMENTATION</p>
            <p><b>STATISTICS EVALUATION</b> FOR CLIENTS</p>
          </div>
       </div>
       <div class="section-about__box section-about__box--codefactory">
         <div class="section-about__logo">
            <img src="./assets/img/logo/codefactory.png">
         </div>
          <h3>Fullstack Developer (Bootcamp)</h3>
          <h4>Codefactory</h4>
          <h5>June 2020 – Aug 2020</h5>
            <div class="section-about__innercontainer">
               <p>Git</p>
               <p>HTML, CSS, JS</p>
               <p>Bootstrap</p>
               <p>Angular, TypeScript</p>
               <p>SCRUM & Requirements Engineering</p>
               <p>PHP, SYMFONY, SQL (MySQL)</p>
               <p>AJAX</p>
            </div>
       </div>
       <div class="section-about__box section-about__box--nexxar">
         <div class="section-about__logo">
            <img src="./assets/img/logo/nexxar.png">
         </div>
            <h3>Frontend Developer</h3>
            <h4>Nexxar</h4>
            <h5>March 2021 – Oct 2022</h5>
            <div class="section-about__innercontainer">
               <p>CREATING <b>SPECIAL SOLUTIONS</b> (SLIDERS, ANIMATIONS, ...)</p>
               <p>DEVELOPING PROJECTS FROM <b>FIGMA</b> TEMPLATES</p>
               <p>DEVELOPING FEATURES</p>
               <p>WORKING CLOSELY WITH DIFFERENT DEPARTMENTS</p>
               <p>SPECIALIST FOR FRONTEND RELATED QUESTIONS</p>
               <p>CREATE STYLING FOR <b>WEB AND PRINT-/WEBPDF</b> REPORTS (PRINCE XML)</p>
            </div>
       </div>
    </div>