    <h2 class="section-about__headline">WORK&nbsp;EXPERIENCE</h2>
    <div class="section-about__container">
       <div class="section-about__box section-about__box--hak">
         <div class="section-about__logo">
            <img src="./assets/img/logo/hak.png">
         </div>
          <h3>Student</h3>
          <h4>commercial high school</h4>
          <h5>2017</h5>
          <div class="section-about__innercontainer">
            <p>Languages: German/English/French</p>
            <p>Focus on econommics and IT</p>
          </div>
       </div>
       <div class="section-about__box section-about__box--zivildienst">
         <div class="section-about__logo">
            <img src="./assets/img/logo/volkshilfe_noe.jpg">
         </div>
          <h3>civilian service</h3>
          <h4>Volkshilfe</h4>
          <h5>August 2017 – April 2018</h5>
          <div class="section-about__innercontainer">
            <p>Peoples care</p>
            <p>Telephone service</p>
            <p>Organization tasks</p>
          </div>
       </div>
       <div class="section-about__box section-about__box--laola1">
         <div class="section-about__logo">
            <img src="./assets/img/logo/laola1.png">
         </div>
          <h3>Web Content Mangager (internship)</h3>
          <h4>Laola1</h4>
          <h5>June 2018 – Oct 2018</h5>
          <div class="section-about__innercontainer">
            <p>Create social media posts (Twitter)</p>
            <p>Create thumbnails</p>
            <p>Taking care of video posts</p>
          </div>
       </div>
       <div class="section-about__box section-about__box--nexxar">
         <div class="section-about__logo">
            <img src="./assets/img/logo/nexxar.png">
         </div>
          <h3>Process Developer</h3>
          <h4>Nexxar</h4>
          <h5>Nov 2018 - March 2021</h5>
          <div class="section-about__innercontainer">
            <p>Taking care of incoming <b>data</b> (with regex)</p>
            <p>Develop new processes and <b>optimize workflow</b></p>
            <p>Creating <b>html tables</b> and styling</p>
            <p><b>Enrolling</b> new <b>processes</b> and <b>train</b> project managers</p>
            <p>Process documentation</p>
            <p><b>Statistic evaluations</b> of different online reports</p>
          </div>
       </div>
       <div class="section-about__box section-about__box--codefactory">
         <div class="section-about__logo">
            <img src="./assets/img/logo/codefactory.png">
         </div>
          <h3>Fullstack Bootcamp</h3>
          <h4>Codefactory</h4>
          <h5>June 2020 – Aug 2020</h5>
            <div class="section-about__innercontainer">
               <p>Git</p>
               <p>HTML, CSS, JS</p>
               <p>Bootstrap</p>
               <p>Angular, TypeScript</p>
               <p>SCRUM & Requirements Engineering</p>
               <p>PHP, SYMFONY, SQL (MySQL)</p>
               <p>AJAX</p>
            </div>
       </div>
       <div class="section-about__box section-about__box--nexxar">
         <div class="section-about__logo">
            <img src="./assets/img/logo/nexxar.png">
         </div>
            <h3>Frontend Developer</h3>
            <h4>Nexxar</h4>
            <h5>March 2021 – Oct 2022</h5>
            <div class="section-about__innercontainer">
               <p><b>Tech stack:</b> SCSS(BEM)/HTML/<wbr>Vanilla&nbsp;JS/JSON/<wbr>GITLAB/Swiperjs/Freemarker</p>
               <p>Developing projects from <b>figma</b> templates</p>
               <p>Working closely with different departments</p>
               <p><b>Specialist</b> for frontend related questions</p>
               <p>Create styling for <b>print-/webpdf</b> reports (prince xml)</p>
            </div>
       </div>
    </div>