<p class="hero-info"><img class="hero-info__logo" src="./assets/img/scroll.gif">keep scrooling</p>
<div class="section-info__item">
   
   <h2 class="section-info__headline">WHO?</h2>
   <p>I'm <strong>Paul</strong>, <strong>26 years</strong> old, born in a small village located in the <strong>north of austria</strong></p>
</div>
<div class="section-info__item">
   
   <h2 class="section-info__headline">WHAT?</h2>
   <p><strong>Frontend Developer</strong> with passion for <strong>Design</strong> and a little <strong>backend</strong> knowledge</p>
</div>
<div class="section-info__item">
   
   <h2 class="section-info__headline">WHEN?</h2>
   <p>As i'm currently taking a break to keep up with the newest technologies, i'm ready to work professionally in <strong>january 2023</strong></p>
</div>
<div class="section-info__item">
   
   <h2 class="section-info__headline">WHY?</h2>
   <p>Not only a <strong>Web-Developer</strong>, I'm <strong>passionate</strong> about design, psychology, movie/image editing, marketing, new trends ...</p>
</div>
<div class="section-info__item">
   
   <h2 class="section-info__headline">WHERE?</h2>
   <p>Currently based in <strong>Vienna</strong> but will relocate to <strong>Barcelona</strong> in March/April 2023</p>
</div>