<button class="button button--menutoggle">MENU</button>
<nav class="navigation">
    <ul class="navigation__container">
        <li class="navigation__item">
           <a class="navigation__link"><i class="fa-solid fa-house"></i>home</a>
        </li>
        <li class="navigation__item">
           <a class="navigation__link"><i class="fa-solid fa-file-code"></i>work</a>
        </li>
        <li class="navigation__item">
           <a class="navigation__link"><i class="fa-solid fa-user"></i>about</a>
        </li>
        <li class="navigation__item">
           <a class="navigation__link"><i class="fa-solid fa-message"></i>contact</a>
        </li>
    </ul>
</nav>