        <div class="heading-container heading-container--floating">
           <h2>STUFF I CAN WORK WITH</h2>
        </div>
           <div class="section-work__tech">
            <div class="acc-container">
               <h3>HTML</h3>
               <p>Some stuff about html</p>
               <h3>CSS</h3>
               <p>Some stuff about CSS</p>
               <h3>JS</h3>
               <p>Some stuff about JS</p>
               <h3>PHP</h3>
               <p>Some stuff about PHP</p>
               <h3>MYSQL</h3>
               <p>Some stuff about MYSQL</p>
               <h3>React</h3>
               <p>Some stuff about React</p>
            </div>
           </div>
      <div class="heading-container heading-container--floating">
         <h2>SEE SOME WORK OF ME</h2>
      </div>
         <div class="section-work__projects">
            <h2>ERROR 404, SIDEPROJECTS ARE NOT PRESENTABLE</h2>
            <h3>All my sideprojects are currently dining with Odin in Valhalla, they will come back to live in few weeks as soon as i clean up the current mess i call code</h3>
         </div>