        <div class="heading-container heading-container--floating">
           <h2>STUFF I CAN WORK&nbsp;WITH</h2>
        </div>
           <div class="section-work__tech">
               <h3>HTML</h3>
               <h3>CSS</h3>
               <h3>SCSS/SASS</h3>
               <h3>Bootstrap</h3>
               <h3>JS</h3>
               <h3>JQUERY</h3>
               <h3>JSON</h3>
               <h3>PHP</h3>
               <h3>MYSQL</h3>
               <h3>Wordpress CMS</h3>
               <h3>Wordpress CORE</h3>
               <h3>React</h3>
               <h3>BEM</h3>
               <h3>REGEX</h3>
               <h3>Blender/Spline</h3>
               <h3>GSAP</h3>
               <h3>Premier Pro</h3>
               <h3>Photoshop</h3>
               <h3>Microsoft office</h3>
           </div>
      <div class="heading-container heading-container--floating">
         <h2>SEE SOME WORK OF&nbsp;ME</h2>
      </div>
         <div class="section-work__projects">
            <h3>DUE TO THE REASON I'VE STARTED 3 PROJECTS A WEEK FOR THE LAST FEW MONTHS, I'M CURRENTLY BUSY WITH FINISHING AND MAKING THEM PRESENTABLE.</h3>
            <h3>BUT TAKE A LOOK AT THE CODE OF MY PORTFOLIO (https://github.com/Paulalbo/Paulalbo.github.io) TO GET A BETTER UNDERSTANDING </h3>
            <p>HERE IS A LIST OF PREVIOUS WORK RELATED PROJECTS:</p>
            <div class="project-container">
               <h3 class="project-container__project">hannafried</h3>
               <h3 class="project-container__project">heart of helen</h3>
               <h3 class="project-container__project">gasser photography</h3>
               <h3 class="project-container__project">christine lavant</h3>
               <h3 class="project-container__project">ebike lehr/ Autohaus lehr</h3>
               <h3 class="project-container__project">markus miniatures</h3>
               <h3 class="project-container__project">anie lauda</h3>
               <h3 class="project-container__project">FIVE Fitness</h3>
               <h3 class="project-container__project">Energie ag</h3>
               <h3 class="project-container__project">SIG</h3>
               <h3 class="project-container__project">ST-Micro</h3>
               <h3 class="project-container__project">UKHD</h3>
               <h3 class="project-container__project">Novartis</h3>
            </div>
         </div>