        <div class="heading-container heading-container--floating">
           <h2>STUFF I CAN WORK&nbsp;WITH</h2>
        </div>
           <div class="section-work__tech">
               <h3>HTML</h3>
               <h3>CSS</h3>
               <h3>SCSS/SASS</h3>
               <h3>Bootstrap</h3>
               <h3>JS</h3>
               <h3>JQUERY</h3>
               <h3>JSON</h3>
               <h3>PHP</h3>
               <h3>MYSQL</h3>
               <h3>Wordpress CMS</h3>
               <h3>Wordpress CORE</h3>
               <h3>React</h3>
               <h3>BEM</h3>
               <h3>REGEX</h3>
               <h3>Blender/Spline</h3>
               <h3>GSAP</h3>
               <h3>Premier Pro</h3>
               <h3>Photoshop</h3>
               <h3>Microsoft office</h3>
           </div>
      <div class="heading-container heading-container--floating">
         <h2>SEE SOME WORK OF&nbsp;ME</h2>
      </div>
         <div class="section-work__projects">
            <h3>Due to the reason i've started 3 projects a week for the last few months, i'm currently busy with finishing and making them presentable.<br><br>But take a look at the code of my portfolio <a href="https://www.github.com/paulalbo/paulalbo.github.io" target="_blank">see code</a> to get a better understanding off how i work.</h3>
            <h4>Here is a list of previous work related projects:</h4>
            <div class="project-container">
               <div class="project-container__project">
                  <p class="project-container__headline">heart of helen</p>
                  <p class="project-container__text"><a href="https://www.heartofhelen.com"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Wordpress/Freelance<br><br>- Custom wordpress Theme</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">gasser photography</p>
                  <p class="project-container__text"><a href="https://www.karingasserphotography.com"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Wordpress/Freelance<br><br>- Wordpress page designed with Elementor</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">christine lavant</p>
                  <p class="project-container__text"><a href="https://www.christine-lavant.com"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Wordpress/Freelance<br><br>- Content Adjustments<br>- Cutom Page setups</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">ebike lehr</p> 
                  <p class="project-container__text"><a href="https://www.ebike-lehr.at"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Wordpress/Freelance/Design<br><br>- Flyer Design<br>-  Page/Site adjustments </p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">Autohaus lehr</p>
                  <p class="project-container__text"><a href="https://www.autohaus-lehr.at"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Wordpress/Freelance<br><br>- Site fixes<br>- train employees the wordpress basics</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">markus miniatures</p>
                  <p class="project-container__text"><a href="https://www.site is currently offline"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Wordpress/Freelance<br><br>- Custom site setup with Elementor</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">anie lauda</p>
                  <p class="project-container__text"><a href="https://www.psychotherapie-lauda.com"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Wordpress/Freelance<br><br>- Custom site setup with Elementor</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">FIVE Fitness</p>
                  <p class="project-container__text"><a href="https://www.five-training.at"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: JS/CSS adjustments<br><br>- SEO fixes<br>- JS/CSS adjustments<br>- Create excel timesheets for employees<br>- Create excel statistic template</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">Alice stoisse (in development)</p>
                  <p class="project-container__text">Type: Wordpress/Freelance<br><br>- Custom site setup with Elementor<br>- custom plugins</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">Energie ag ar21</p>
                  <p class="project-container__text"><a href="https://www.reports.energieag.at/2021/annual-report/"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Developed at Nexxar<br><br>- Developed from scratch at nexxar<br>- Create styling for Web- and Print pdf (prince xml)</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">SIG ar21</p>
                  <p class="project-container__text"><a href="https://www.reports.sig.biz/annual-report-2021/"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Developed at Nexxar<br><br>- Special solution developed (Sliders, Boxesolutions, Home, ...)</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">ST-Micro sr21</p>
                  <p class="project-container__text"><a href="https://www.sustainabilityreports.st.com/sr21"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Developed at Nexxar<br><br>- Special solution developed (Sliders, Boxesolutions, Home, ...)<br>- Create styling for Web- and Print pdf (prince xml)</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">UKHD report 20</p>
                  <p class="project-container__text"><a href="https://www.report.ukhd-mfhd.de/2020"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Developed at Nexxar<br><br>- Home developed</p>
               </div>
               <div class="project-container__project">
                  <p class="project-container__headline">Novartis report 21</p>
                  <p class="project-container__text"><a href="https://www.reporting.novartis.com/2021"><i class="fa-solid fa-link"></i>SEE LIVE SITE</a><br>Type: Developed at Nexxar<br><br>- Content styles developed<br>- minor changes</p>
               </div>
            </div>
         </div>